.navItemlist{
  padding: 20px; // Added padding to the container for better spacing
  li {
    list-style-type: none;
    margin: 0;
    padding:0; 
  }
  .active{
    a{
        color: #fff;
    background-color: #091951;
    }
  }

  a {
    text-decoration: none;
    display: block;
    color: #333;
    line-height: 18px;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-weight: bold; // Made font bold for better readability
    padding: 10px 10px; // Added padding to the link for better spacing
    border-bottom: solid 1px gray;
  }

  a:hover {
    color: #666;
    background-color: #f0f0f0;
  }
}