body{
    background: linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(253, 240, 217) 38%, rgb(209, 211, 243) 100%);
    font-size: 14px;
    line-height: 24px;
    margin:0;
  }
  .wraper{
    width: 1024px;
    margin: 0 auto;
    padding:20px;
  }
  
  .productMainWraper{
    display: flex;
    column-gap: 20px;
  }